.single--column-image {
    padding: 100px 0;

    @include mq(xl) {
        padding: 188px 0 128px;
    }

    h2 {
        text-align: center;
        margin-bottom: 45px;

        @include mq(lg) {
            margin-bottom: 85px;
        }

        strong.block {
            @include mq(md) {
                display: block;
            }
        }
    }

    .overlap--area {
        display: flex;
        flex-direction: column;

        @include mq(lg) {
            flex-direction: row;
        }

        .image--area {
            width: 100%;

            @include mq(lg) {
                width: 47vw;
            }
            @include mq(xl) {
                width: 41vw;
            }
        }

        .content--area {
            background: $white;
            width: 100%;
            margin-top: 25px;

            @include mq(md) {
                margin-top: 42px;
                padding: 60px 35px;
                box-shadow: 0px 10px 50px rgba(5, 27, 82, 0.25);
                border: 1px solid #c3c3c3;
            }

            @include mq(lg) {
                padding: 70px 45px;
                width: 550px;
                margin-left: -50px;
            }
            @include mq(xl) {
                padding: 150px 55px 130px;
                width: 650px;
                margin-left: -100px;
            }
        }
    }
}
