.block {
    position: relative;
}

.block-content {
    position: relative;
    z-index: 1;

    > *:not(.bg-video) {
        position: relative;
        z-index: 1;
    }
}

.padding-section {
    padding: 117px 0;
}
.squares--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    text-align: center;

    @include mq(md) {
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 100%;
        height: auto;
    }

    h3 {
        margin-bottom: 0;
        font-size: 2rem;
        text-transform: initial;
    }
}

.block__testimonials {
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: 25px;
        border-bottom: 2px solid $primary;
        font-weight: 400;
        padding-bottom: 15px;
    }
}

.block__contact-page {
    h3 {
        font-size: 1.8rem;
        text-transform: initial;
        margin-bottom: 35px;
    }
    h4 {
        font-weight: 500;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
    }
    .section--box {
        margin-top: 35px;
    }

    .gform_wrapper {
        form {
            .gform_body {
                ul {
                    li {
                        input,
                        textarea {
                            background: #ffffff;
                            border: 1px solid #d8d8d8;
                            box-shadow: 0px 10px 50px rgba(5, 27, 82, 0.25);
                            padding: 12px 19px !important;
                            font-size: 1rem;
                            line-height: 1.1em;
                            color: #d8d8d8;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .gform_footer {
                margin-top: 42px;

                input {
                    width: 300px;
                    height: 45px;
                    background: $charcoal;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.block__products {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 35px;
    grid-gap: 40px;
    align-items: center;
    margin-bottom: 35px;

    @include mq(md) {
        grid-template-columns: 20vw 1fr;
    }

    &:last-child {
        margin-bottom: 0;
    }

    img {
        margin-right: 35px;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    h4 {
        margin-bottom: 25px;
        border-bottom: 2px solid $primary;
        font-weight: 400;
        padding-bottom: 15px;
    }
}

.procedure-holder.single-holder {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px;
    align-items: center;
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 35px;

    h2 {
        font-size: 2.5rem;
        border-bottom: 2px solid $primary;
        margin-bottom: 35px;
        padding-bottom: 10px;
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        column-count: 2;

        li {
            a {
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
