.content {
    h1 {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $primary;
        line-height: 1em;
    }
}

article {
    clear: both;

    h3 {
        margin-bottom: 25px;
    }

    &.blog-article {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed $primary;
        float: left;

        .read-more {
            display: block;
            margin-top: 25px;
            width: 250px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    .img {
        float: left;
    }
}

.post-meta {
    clear: none;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;

    > span {
        margin-right: 15px;
    }

    .fa {
        margin-right: 5px;
    }
}

.post-img {
    padding: 0 !important;
}

.column__image--content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

    @include mq(md) {
        flex-direction: row;
    }
}
.column__image--content .holder__image {
    width: 100%;
    height: auto;

    @include mq(md) {
        width: 67%;
        height: 100%;
    }
}
.column__image--content .holder__content {
    width: 100%;
    margin-top: 35px;
    background: #fff;
    text-align: left;
    z-index: 2;

    @include mq(md) {
        width: 58%;
        margin-left: -5%;
        padding: 5vh 0 5vh 3vw;
        box-shadow: rgba(0, 0, 0, 0.1) -22px 21px 15px;
    }
}
.column__image--content .holder__content ul li::before {
    margin-left: 0;
}

.column__image--content .holder__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column__image--content.flex-row-reverse {
    flex-direction: column !important;

    @include mq(md) {
        flex-direction: row-reverse !important;
    }
}

.column__image--content.image--right .holder__content {
    width: 100%;
    background: #fff;
    text-align: left;
    z-index: 2;

    @include mq(md) {
        margin-left: 0;
        width: 62%;
        margin-right: -11%;
        padding: 5vh 1.5vw 5vh 0;
        box-shadow: rgba(0, 0, 0, 0.1) 22px 21px 15px;
    }
}

.column__image--content.image--right .holder__image {
    width: 100%;

    @include mq(md) {
        width: 73%;
    }
}

.column__contact {
    display: flex;
    height: 478px;
    width: 100%;
    background: url(/wp-content/uploads/2020/05/ba-gallery-image.jpg) no-repeat
        center / cover;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    margin: 80px 0 0;
}

.column__contact .btn {
    width: 300px;
    max-width: 100%;
}
.column__contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.procedure-content .column__contact h2 {
    color: $white !important;
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center !important;

    @include mq(md) {
        font-size: 3rem;
    }
}

#content-row-2,
#content-row-4 {
    margin: 35px 0;
}

.navigation-single {
    margin-bottom: 35px;
}
.blog--page {
    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 35px;
        margin-bottom: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid #efefef;

        @include mq(md) {
            grid-template-columns: 250px 1fr;
        }

        h2 {
            font-size: 1.4rem;
            margin-bottom: 10px;
            text-align: left;
            text-transform: initial;
        }

        .post-meta {
            span {
                margin-right: 15px;
            }
        }

        .btn-primary {
            margin-top: 25px;
        }
    }
    #sidebar {
        .widget {
            border: 2px solid $primary;
            border-radius: 10px;
            padding: 35px;
            margin-bottom: 35px;

            h3 {
                font-size: 1.5rem;
                text-transform: initial;
                border-bottom: 2px solid $primary;
                margin-bottom: 25px;
                padding-bottom: 15px;
            }

            ul {
                padding: 0;
                list-style: none;
                margin: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.single-post {
    .blog--page {
        article {
            grid-template-columns: 1fr;
            grid-gap: 0;

            h1 {
                margin-top: 35px;
            }
        }
    }
}
