#header.header2 {
    height: 80px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba($white, 1);
    z-index: 99;
    box-shadow: rgba($black, 0.1) 0px 1px 8px;

    @include mq(lg) {
        height: 100px;
    }
    @include mq(xl) {
        height: 125px;
    }
    @include mq(xxl) {
        padding: 0 4.3vw;
    }

    .btn-text,
    .directions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 1px solid $black;
        color: $black;
        border-radius: 100em;
        font-size: 24px;
        margin-right: 15px;
        position: absolute;
        top: 20px;
        right: 45px;
        @include mq($until: md) {
            display: none !important;
        }

        @include mq(lg) {
            position: relative;
            top: unset;
            right: unset;
        }

        @include mq(xl) {
            margin-right: 25px;
            height: 60px;
            width: 60px;
        }
    }
    .btn-text {
        right: 100px;
    }

    .logo {
        @include mq($until: lg) {
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
            img {
                height: 70px;
                width: auto;
            }
        }
    }

    #logo,
    svg {
        position: relative;
        left: auto;
        top: 0;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 60px;
        width: auto;

        @include mq(lg) {
            left: 0;
        }
    }

    nav {
        display: none;
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        height: 100px;
        align-items: center !important;
        margin: 0 auto;

        @include mq(lg) {
            display: flex;
        }

        @include mq(xl) {
            height: 125px;
        }

        .ubermenu {
            .ubermenu-submenu {
                min-width: 275px;
                background: $white;

                li {
                    a {
                        &:hover {
                            background: $primary;
                            color: $black;
                        }

                        i {
                            transform: translateY(-50%);
                            right: 8px;
                            margin: 0;
                        }
                    }
                }
            }

            .ubermenu-item-level-0 {
                > .ubermenu-target {
                    padding: 0px 7px;
                    font-weight: 400;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;

                    @include mq(xl) {
                        padding: 0px 10px;
                        height: 125px;
                    }

                    @include mq(xxl) {
                        padding: 0px 25px;
                    }

                    &::after {
                        display: none;
                    }

                    span::before {
                        content: "";
                        display: block;
                        height: 2px;
                        position: absolute;
                        width: 50%;
                        left: 25%;
                        bottom: 20%;
                        opacity: 0;
                        transform: rotate(90deg) scale(0);
                        transition: 0.4s;

                        &:hover {
                            opacity: 1;
                            transform: rotate(0deg) scale(1);
                        }
                    }
                    i {
                        display: none;
                    }
                }

                .ubermenu-sub-indicator-close {
                    display: none !important;
                }
            }
        }
    }

    .social-icons {
        position: relative;
        top: 0;
        right: 15px;
        width: auto;

        li {
            display: inline-block;
        }
    }

    .btn {
        height: 40px;
        width: 40px;
        padding: 0 !important;
        position: absolute;
        right: 0;
        top: 20px;

        @include mq(lg) {
            top: 0;
            position: relative;
        }

        @include mq(xl) {
            right: unset;
            height: auto;
            width: auto;
            top: unset;
            padding: 4px 35px !important;
        }

        svg,
        i {
            position: relative;
            left: 0;
            top: 0;
            line-height: 40px;
            margin-right: 0;

            @include mq(xl) {
                top: 2px;
                left: -4px;
            }
        }

        span {
            display: none;

            @include mq(xl) {
                display: inline-block;
            }
        }
    }
}

.taptap-menu-button-wrapper {
    top: 18px;
}
