.btn {
    position: relative;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    transition: all 0.4s ease;

    @include mq(lg) {
        width: 200px;
    }

    i {
        margin-right: 10px;
    }

    &:hover {
        color: $white;
    }
}

.btn-primary {
    background: $primary;
    color: $black;
    border: 1px solid $primary;

    &:hover {
        background: $black;
        color: $primary;
    }
}

.btn-secondary {
    background: $secondary;
    color: $white;
    border: 1px solid $secondary;

    &:hover {
        background: $white;
        color: $secondary;
    }
}

.btn--line {
    position: relative;
    padding: 11.5px 21px;
    border-left: 5px solid $primary;
}
