h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: 300;
}

h1 {
    font-size: 4rem;

    &.border {
        position: relative;
        text-align: center;

        &::after {
            content: "";
            display: block;
            width: 150px;
            height: 2px;
            background: $primary;
            margin: 30px auto;
        }
    }

    body:not(.home) & {
        font-size: 2.5rem;
        border-bottom: 2px solid $primary;
        margin-bottom: 35px;
    }
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 45px;

    @include mq(lg) {
        font-size: 3.11rem;
        margin-bottom: 85px;
    }

    strong {
        font-weight: normal;
    }
    body:not(.home) .page-content & {
        font-size: 2rem;
        text-align: left;
        text-transform: initial;
        margin-bottom: 35px;
        margin-top: 60px;
        color: $black;
    }
}

h3 {
    position: relative;
    text-transform: uppercase;
    margin: 0 auto 7vh;
    font-size: 2rem;

    @include mq(sm) {
        font-size: 2.6rem;
    }

    body:not(.home) .page-content & {
        font-size: 1.5rem;
        line-height: 1em;
        margin-bottom: 15px;
        text-transform: initial;
    }
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 1.15rem;
}

ul {
    body:not(.home) & {
        padding-left: 20px;
    }
}
