.gallery-archive.a2 {
    background: $white;

    .inner-container {
        border: 1px solid $primary;
        padding: 35px;
    }

    .item {
        position: relative;
        height: 100%;
        background: $white;
        width: 100% !important;
        overflow: hidden;

        @include mq(xl) {
            padding: 0 5px;
        }

        img {
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
            z-index: -1;
            transform: scale(1);
            filter: grayscale(100%);
            transition: all 300ms linear;
        }
        a {
            &:hover {
                h3 {
                    color: $black;
                }
            }
        }
        h3 {
            position: absolute;
            background: rgba($primary, 0.9);
            padding: 6px 28px;
            color: $white;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            max-width: 95%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            img {
                filter: grayscale(0);
                transform: scale(1.05);
            }

            h3 {
                color: $primary;
            }

            &::after {
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }

    h4.fancy {
        color: $black;
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;

        &::after {
            background-color: $primary;
            content: "\a0";
            flex-grow: 1;
            height: 1px;
            position: relative;
            top: 0.5em;
        }

        span {
            padding-right: 15px;
        }
    }
}
