.gallery-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3vw;

    .child-page {
        display: block;
        min-height: 450px;
        height: 45vh;
        align-items: center;
        position: relative;
        z-index: 0;
        border: 5px solid $primary;
        filter: grayscale(100%);
        transition: all 0.5s ease;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            z-index: 9;

            h4 {
                color: $white;
            }

            &:hover {
                filter: grayscale(0%);
            }
        }

        &::before {
            content: "";
            display: block;
            background: rgba($black, 0.4);
            color: $white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}

.gallery-carousel-archive {
    height: 500px;

    @include mq(lg) {
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $primary;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 40px;
        transform: translateY(-50%);
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
    }

    .swiper-button-next {
        right: -55px;
    }

    .swiper-button-prev {
        left: -55px;
    }

    &:hover {
        @include mq(lg) {
            .swiper-button-next {
                right: 20px;
            }

            .swiper-button-prev {
                left: 20px;
            }
        }
    }
}
.acc-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
}

.testimonial--area {
    background: #333;
    color: #fff;
    padding: 113px 15vw;

    h2 {
        text-align: left;
    }

    .quote {
        padding: 0 0 0 100px;
        position: relative;
        font-style: italic;

        &::before {
            content: "\f10d";
            display: block;
            font-size: 96px;
            color: rgba($white, 0.1);
            position: absolute;
            top: 0;
            left: 50px;
            font-family: $fontawesome;
            font-weight: 600;
            font-style: normal;
        }

        strong {
            margin-left: auto;
            display: block;
            color: #979797;
            text-align: right;
            width: 100%;
        }
    }
}

.gallery--area {
    height: 800px;

    .col-xl-7 {
        padding: 0;
    }

    .slant {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $white;
        flex-direction: column;
        clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
        padding-right: 13vw;

        h2 {
            margin-bottom: 85px;
        }
    }
}
