.procedures-hover {
    overflow: hidden;

    &::before {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #ebebeb;
        content: "";
        top: 0;
        left: calc(50% - 30px);
        position: absolute;
        z-index: 9;
    }

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.55);
    }

    .info {
        position: absolute;
        opacity: 1;
        left: 50%;
        top: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        transition: 0.6s linear;

        h3 {
            color: $white;
        }
    }

    .procedures-rotator {
        display: block !important;
        max-width: calc(100vw - 17px);

        .swiper-slide {
            height: 500px;
            overflow: hidden;
            position: relative;
            width: auto;
            min-width: 350px;

            &::before {
                content: "";
                background: rgba(0, 0, 0, 0.55);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
            }

            h3 {
                position: absolute;
                top: 15%;
                margin: 0;
                text-align: center;
                display: block;
                width: 100%;
                text-transform: capitalize;
                font-size: 25px;
                padding: 0;
                color: $white;
            }

            .excerpt {
                top: 19%;
                padding: 20px;
                position: absolute;
                left: 0;
                opacity: 0;
                width: 100%;
                color: $white;
                transition: 0.4s ease-in-out;

                @include mq(lg) {
                    top: 30%;
                }
            }

            .btn {
                position: absolute;
                top: 88%;
                left: 50%;
                opacity: 0;
                transform: translate(-50%, 0);

                @include mq(lg) {
                    top: 80%;
                }
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }

                .btn {
                    opacity: 1;
                }

                .excerpt {
                    opacity: 1;
                }
            }
        }
    }
}

.procedures--grid {
    padding: 0;

    @include mq(lg) {
        padding: 90px 0;
    }
    @include mq(xl) {
        padding: 100px 0 50px;
    }
    @include mq(xxl) {
        padding: 188px 0 171px;
    }

    h2 {
        font-weight: normal;
        margin-bottom: 45px;

        @include mq(lg) {
            margin-bottom: 85px;
        }
    }

    .procedure-layout {
        .swiper-wrapper {
            @include mq(md) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 11px;
            }
            img {
                margin: 0 auto;
                display: block;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $primary;
            background: transparent;
            padding: 0;
            margin: 0;
            font-size: 40px;
            transform: translateY(-50%);
            transition: all 300ms linear;
            -webkit-transition: all 300ms linear;
            @include mq(md) {
                display: none;
            }
        }

        .procedure-card {
            position: relative;

            .card-bottom {
                position: relative;
                z-index: 0;
                h3 {
                    transition: all 0.4s ease-in-out;
                }
                &:hover {
                    h3 {
                        bottom: 50%;
                        background: $charcoal;
                        color: $white;
                        z-index: 3;
                    }
                }
            }
        }

        h3 {
            position: absolute;
            background: rgba($primary, 0.9);
            padding: 6px 20px;
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            max-width: 90%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mq(lg) {
                font-size: 24px;
            }
        }
    }
}
